{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/error.css') }}">    
{% endblock %}
{% block title %}
Error: Invalid Credentials
{% endblock %}

{% block body %}
</head>
<body>
    <div class="error-container">
        <h1>Error: Invalid Credentials</h1>
        <p>The username or password you entered is incorrect. Please try again.</p>
        <p><a href="/">Home Page</a></p>
    </div>
</body>
</html>

{% endblock %}